.banner-about {
  background-image: url('../img/banner-about1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;

  @include tablet {
    background-image: url('../img/banner-about2.jpg');
    height: 250px;
  }

  @include mobile {
    background-image: url('../img/banner-about3.jpg');
    height: 150px;
  }
}
