.cart-article {
  position: relative;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: -webkit-fill-available;


  &__category {
    position: relative;
    z-index: 5;
    margin: 0;
    display: inline-block;
    margin-bottom: 30px;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--light-color);
    background-color: rgba(255, 255, 255, 0.2);
  }

  &__title {
    margin: 0;
    font-weight: 450;
    font-size: 24px;
    line-height: 31px;
    color: var(--light-color);

    @include tablet {
      font-size: 22px;
    }
  }

  &__data {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--light-color);
  }

  &__link {
    color: inherit;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}
