.contacts {
  background-color: var(--gray-color);
  padding: 140px 0;
  &__container {
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &__left {
    width: calc(50% - 20px);
    padding-top: 40px;

    @include tablet {
      margin-bottom: 60px;
      width: 100%;
    }
  }

  &__right {
    width: calc(50% - 20px);

    @include tablet {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-size: 30px;

    @include tablet {
      font-size: 24px;
    }
  }

  &__phone {
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    display: inline-block;
    padding-left: 24px;
    font-weight: 450;
    font-size: 18px;
    line-height: 23px;
    color: var(--accent-color);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      width: 14px;
      height: 14px;
      background-image: url('../img/phone.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__address {
    position: relative;
    margin: 0;
    margin-bottom: 40px;
    padding-left: 24px;
    font-weight: 450;
    font-size: 18px;
    font-style: normal;
    line-height: 23px;
    color: var(--accent-color);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      width: 14px;
      height: 14px;
      background-image: url('../img/address.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__list {
    display: flex;

  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    display: inline-block;
    width: 40px;
    height: 40px;
    svg {
      width: 100%;
      height: 100%;
      fill: var(--accent-color);
      transition: fill 0.3s ease-in-out;

      &:hover {
        fill: var(--hover-btn);
      }
    }
  }

  &__form {
    padding: 40px 60px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--light-color);
    box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);

    @include tablet {
      align-items: center;
      width: 100%;
      padding: 40px 50px;
    }

    @include mobile {
      padding: 44px 20px;
    }
  }

  &__label {
    width: 100%;
  }

  &__input {
    width: 100%;
    padding: 13px 30px;
    background-color: var(--gray-color);
    border-radius: 20px;
    margin-bottom: 20px;

    &::placeholder {
      margin: 0;
      font-size: 18px;
      color: var(--text-color);
    }

    &--text {
      height: 81px;
    }
  }

  @include tablet {
    padding: 60px 0;
  }
}
