.header {
  padding: 5px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  .phone {
    position: relative;
    margin: 0;
    padding-left: 24px;
    font-weight: 450;
    font-size: 18px;
    line-height: 23px;
    color: var(--accent-color);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      width: 14px;
      height: 14px;
      background-image: url('../img/phone.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    @include tablet {
      padding-right: 80px;
    }

    @include mobile {
      font-size: 15px;
    }
  }
}


