.sidebar {

  &__title {
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;

    @include middle {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40px;
      margin-bottom: 60px;
    }

    @include tablet {
      grid-gap: 25px;
    }

    @include mobile {
      display: block;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 10px;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(47, 34, 34, 0.1);

      @include middle {
        border-bottom: none;
      }
    }

    @include middle {
      grid-column: 1 span;
    }
  }

  &__link {
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: var(--dark-color);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--accent-color);
    }

    @include middle {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__data {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--text-color);
  }


}
