<section class="post-content">
  <div class="container grid post-content__container">
    <div class="post-content__left">
      <article class="about">
          <h3 class="about__title">
            О нас
          </h3>
          <p class="about__descr">
            Дорогие друзья, дальнейшее развитие различных форм деятельности обеспечивает широкому кругу специалистов участие в формировании форм воздействия. Задача организации, в особенности же повышение уровня гражданского сознания играет важную роль в формировании существующих финансовых и административных условий. Разнообразный и богатый опыт сложившаяся структура организации позволяет оценить значение всесторонне сбалансированных нововведений.
          </p>
          <p class="about__descr">
            Практический опыт показывает, что повышение уровня гражданского сознания требует от нас анализа всесторонне сбалансированных нововведений! Таким образом, консультация с профессионалами из IT играет важную роль в формировании дальнейших направлений развития проекта.
          </p>
          <p class="about__descr">
            Конечно, баланс унификации и персонального подхода – дело каждого. Вспомним историю про послевоенное автомобилестроение: американская и японская тактика. Постепенно японцы достигли превосходства благодаря, в том числе, выверенному балансу унификации и культуре производства. Но это правило не для всех.
          </p>
          <p class="about__descr">
            Значимость этих проблем настолько очевидна, что курс на социально-ориентированный национальный проект в значительной степени обуславливает создание всесторонне сбалансированных нововведений! Задача организации, в особенности же начало повседневной работы по формированию позиции играет важную роль в формировании системы масштабного изменения ряда параметров. Разнообразный и богатый опыт повышение уровня гражданского сознания играет важную роль в формировании существующих финансовых и административных условий.
          </p>
          <p class="about__descr">
            Менеджер по ИТ-мощностям в крупной компании периодически готовил толстенный отчёт руководству. В очередной раз он не принёс отчёт, решив проверить, нужен ли он вообще. Выждав несколько дней, он пришёл к руководителю и спросил: «Похоже тот отчёт, который я готовлю, не особо востребован, а что вам действительно нужно?» Руководитель признался, что массивный отчёт хороший, но им не пользуются. И набросал на листе бумаги то, что хотелось бы иметь под рукой.
          </p>
          <picture>
            <source srcset="img/about-img.webp" type="image/webp">
            <img loading="lazy" src="img/about-img.jpg" class="image" width="800" height="450" alt="about">
          </picture>
      </article>

    </div>
    <div class="post-content__right">
      <div class="sidebar">
        <h3 class="title sidebar__title">Популярные новости</h3>
        <ul class="list-reset sidebar__list">
          <li class="sidebar__item">
            <a href="#" class="sidebar__link">ITAM&SAMDay – самая настоящая удача!</a>
            <time class="sidebar__data">13 дек 2020</time>
          </li>
          <li class="sidebar__item">
            <a href="#" class="sidebar__link">Секреты лицензирования. Всё, что вы хотели знать про Microsoft, SAP и
              Oracle, но не знали, у кого спросить ...</a>
            <time class="sidebar__data">10 дек 2020</time>
          </li>
          <li class="sidebar__item">
            <a href="#" class="sidebar__link">Менеджмент XXI века. Надо ли готовиться к изменениям или мы давно уже
              должны были измениться?</a>
            <time class="sidebar__data">5 дек 2020</time>
          </li>
        </ul>
        <form action="#" class="form">
          <h3 class="title form__title">Подписка на рассылку</h3>
          <label class="form__label">
            <input type="email" name="email" class="input-reset form__input" placeholder="Your email">
          </label>
          <button class="btn-reset form__btn">
            <h3 class="form__btn--title">
              Подписаться
            </h3>
            <svg>
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
