<section class="contacts">
  <div class="container contacts__container">
    <div class="contacts__left">
      <h3 class="title contacts__title">Контактная информация</h3>
      <a href="tel:+798788787" class="contacts__phone">+7 (987) 887-87</a>
      <address class="contacts__address">г. Санкт-Петербург, ул. Ленина, 9</address>
      <ul class="list-reset contacts__list">
        <li class="contacts__item">
          <a href="#" class="contacts__link">
            <svg>
              <use xlink:href="img/sprite.svg#fb"></use>
            </svg>
          </a>
        </li>
        <li class="contacts__item">
          <a href="#" class="contacts__link">
            <svg>
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
        <li class="contacts__item">
          <a href="#" class="contacts__link">
            <svg>
              <use xlink:href="img/sprite.svg#inst"></use>
            </svg>
          </a>
        </li>
        <li class="contacts__item">
          <a href="#" class="contacts__link">
            <svg>
              <use xlink:href="img/sprite.svg#tw"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="contacts__right">
        <form action="#" class="contacts__form">
          <h3 class="title contacts__title">Напишите нам</h3>
          <label class="contacts__label">
            <input type="name" name="name" class="input-reset contacts__input" placeholder="Ваше имя">
          </label>
          <label class="contacts__label">
            <input type="email" name="email" class="input-reset contacts__input" placeholder="Your email">
          </label>
          <label class="contacts__label">
            <textarea class="input-reset contacts__input contacts__input--text" placeholder="Сообщение..."></textarea>
          </label>
          <button class="btn-reset form__btn">
            <h3 class="form__btn--title">
              Отправить
            </h3>
            <svg>
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </form>

    </div>
  </div>
</section>
