<header class="header">
  <div class="container header__container">
    <a href="#" class="logo">
      <img src="img/logo.svg" alt="logo">
    </a>
    <div class="header__right">
      <nav class="nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a class="nav__link nav__link--active">Главная</a></li>
          <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Поиск</a></li>
        </ul>
      </nav>
      <a href="tel:+798788787" class="phone">+7 (987) 887-87</a>
    </div>
  </div>
</header>
